.App {
  text-align: center;
}

.App-root {
  height: 100vh;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.heading {
  font-family: "Press Start 2P", cursive;
}

footer {
  height: 150px;
}
